.question {
  padding: 16px 0px;

  border-top: 1px solid #97d28b;

  &:last-child {
    margin-bottom: 36px;
  }

  @media (min-width: 768px) {
    &:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  @media (min-width: 1280px) {
    padding: 24px 0px;

    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.q__title {
  position: relative;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  padding-left: 24px;

  &::before {
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #97d28b;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;
  }

  &::after {
    content: "";
    width: 2px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 4px;
    background-color: #97d28b;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;
  }

  &.active {
    &::before {
      content: "";

      background-color: #173d33;
    }

    &::after {
      content: "";
      width: 0px;
      height: 0px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 44px;

    &::before {
      content: "";
      width: 16px;
    }

    &::after {
      content: "";
      height: 16px;
      left: 7px;
    }
  }

  @media (min-width: 1280px) {
    padding-left: 52px;
    font-size: 24px;
    letter-spacing: -0.96px;
  }
}

.q__text {
  opacity: 0;
  height: 0;
  overflow: hidden;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  text-align: justify;

  padding-left: 24px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;

  &.active {
    opacity: 1;
    height: auto;
    margin-top: 16px;
  }

  @media (min-width: 768px) {
    padding-left: 44px;
  }

  @media (min-width: 1280px) {
    padding-left: 52px;
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}
