.section {
  display: block;
  margin: 0 auto;
}

.container__title {
  display: block;
  margin: 0 auto;
  max-width: 286px;

  @media (min-width: 768px) {
    max-width: 368px;
  }

  @media (min-width: 1280px) {
    max-width: 491px;
  }
}

.title {
  text-align: center;
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
  }

  &::after {
    content: "";
    display: block;
    margin: 24px auto;
    width: 1px;
    height: 48px;
    background-color: #97d28b;

    @media (min-width: 768px) {
      height: 87px;
    }

    @media (min-width: 1280px) {
      margin: 16px auto;
    }
  }
}

.container__number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #97d28b;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 100px;
  }

  @media (min-width: 1280px) {
    font-size: 164px;
  }
}

.text {
  text-align: center;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-left: 8px;
  color: #173d33;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 171.429%;
  }

  @media (min-width: 1280px) {
    font-size: 48px;
    line-height: 100%;
  }
}
