.hero {
  display: block;
  width: 100%;
  margin-top: 222px;
  padding: 0px 20px;

  @media (min-width: 768px) {
    margin-top: 243px;
    padding: 0px 30px;
  }

  @media (min-width: 1280px) {
    margin-top: 272px;
    padding: 0px 30px;
  }
}

.first__hero {
  display: block;
  padding-bottom: 24px;
  border-bottom: 1px solid #97d28b;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    align-items: center;
  }
}

.hero__title {
  @media (min-width: 768px) {
    flex: 1 1 50%;
  }
}

.title {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 280px;

  @media (min-width: 768px) {
    font-size: 48px;
    max-width: 222px;
  }

  @media (min-width: 1280px) {
    font-size: 64px;
    max-width: 485px;
  }
}

.hero__paragraph {
  margin: 24px 0px 0px 0px;

  @media (min-width: 768px) {
    flex: 1 1 50%;
    margin: 0;
    padding-left: 11px;
  }

  @media (min-width: 1280px) {
    padding-left: 160px;
  }
}

.container {
  width: 100%;
  margin-bottom: 24px;
  text-align: justify;

  @media (min-width: 768px) {
    width: 342px;
    margin-bottom: 43px;
  }

  @media (min-width: 1280px) {
    width: 363px;
    margin-bottom: 20px;
  }
}

.button__container {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: block;
  }
}

.second__container {
  display: block;
  margin: 0 auto;
  padding-top: 24px;

  @media (min-width: 768px) {
    display: flex;
  }

  & a {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) all;
  }

  & a:hover {
    color: #97d28b;
  }
}

.adress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    flex: 1 1 50%;
    justify-content: flex-start;
  }
}

.maill {
  @media (min-width: 768px) {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    padding-left: 11px;
  }

  @media (min-width: 1280px) {
    padding-left: 160px;
  }
}

.maill_text {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    display: block;
    justify-content: start;
  }
}

.eco_text {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: 50px;
  }
}

.img__container {
  height: 200px;
  min-width: 100%;
  margin-top: 36px;
  background-image: url("../../images/mobile/hero-img2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    height: 348px;
    margin-top: 40px;
    background-image: url("../../images/tablet/hero-img2x.jpg");
  }

  @media (min-width: 1280px) {
    height: 524px;
    margin-top: 36px;
    background-image: url("../../images/desktop/hero-img2x.jpg");
  }
}
